/* heavily adapted from Desirée De Leon's tidymodels pkgdown CSS */
/* https://github.com/tidyverse/tidytemplate/blob/master/inst/pkgdown/assets/tidymodels.css */

:root {
  --scorpion: #595959; /* unused given bslib vars */
  --boulder: #767676;
  --night-rider: #333333;
  --sapphire: #126180;
  --matisse: #187BA2;
  --dawn: #f4e4e7;
  --oyster: #E7C5CB;
  --pearl: #faf2f3;
}

/* spacing */

body > p {
  line-height: 1.6em;
}

pre, code {
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: normal;
  letter-spacing: 1.2pt;
}

.contents h2, .contents h3, .contents h4 {
	margin-bottom: 1.5rem;
	margin-top: 2rem;
}
/*
.contents h1,
.page-header h1 {
  color: var(--matisse);
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
}*/

a:hover {
  color: var(--sapphire);
}

a {
  color: var(--boulder);
}


/* navbar ----------------------------------------------- */

.navbar {
  padding-bottom: 1em;
  padding-top: 1em;
}

/*
.navbar-light .navbar-nav .nav-link:hover {
	color: var(--sapphire);
}*/

.navbar-light .navbar-nav .active > .nav-link {
	background: var(--pearl);
	/*color: var(--matisse);*/
	border-radius: 0rem;
}

li.nav-item a.nav-link {
  text-transform: uppercase;
  letter-spacing: 1.5pt;
}

/*
.navbar-default .navbar-link:hover {
	color: var(--sapphire);
}*/

/* White Space */

.row {
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .contents {
    padding-right: 4em;
  }
}

/*----- COLORED LIST BULLET----*/

.contents ul > li::marker {
  color: var(--sapphire);
}


/* sidebar ------------------------------------------------ */

#pkgdown-sidebar {
  margin-top: 7em;
}

#pkgdown-sidebar h2:first-child {
	margin-top: 1rem;
  margin-bottom: 0.85rem;
  text-transform: uppercase;
  color: var(--matisse);
  letter-spacing: 1.5pt;
  font-size: large;
  padding-left: 0.5em;
  margin-left: -.1em;
}

#pkgdown-sidebar ul.list-unstyled {
  list-style: none;
  margin-bottom: 1.2em;
}

#pkgdown-sidebar .list-unstyled li {
  padding-bottom: 1em;
  margin-bottom: 0;
  line-height: 1.6em;
  letter-spacing: 0.4pt;
  padding-left: 0.5em;
}

#pkgdown-sidebar small.roles {
  text-transform: uppercase;
  color: var(--boulder);
}

.template-home #pkgdown-sidebar a {
  color: var(--boulder);
}

.template-home #pkgdown-sidebar a:hover {
  color: var(--night-rider);
}

#pkgdown-sidebar h2:not(first-child) {
  margin-top: 1.5rem;
}

/*----TOC sidebar on non-homepages----*/

nav[data-toggle="toc"] .nav > li > a:hover {
	color: inherit;
	background-color: var(--pearl);
	letter-spacing: 1pt;
	padding-left: 0.5em;
	margin-left: 0px;
}

/* Active/focus links */

nav[data-toggle="toc"] .nav > li > a:focus,
nav[data-toggle="toc"] .nav-link.active,
nav[data-toggle="toc"] .nav-link.active:hover,
nav[data-toggle="toc"] .nav-link.active:focus {
	color: var(--sapphire);
	background-color: var(--pearl);
	letter-spacing: 1pt;
	padding-left: 0.5em;
	margin-left: 0px;
}

/* Links NOT hovered or active */

nav[data-toggle='toc'] ul > li > a {
	letter-spacing: 1pt;
	padding-left: 0.5em;
}

nav[data-toggle="toc"] .nav > li > a {
	padding-left: 0.5em;
	margin-left: 0px;
}


/*----Copy Buttons ----*/

.btn-primary {
  background-color: var(--oyster);
  border-color: var(--oyster);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: var(--matisse);
  border-color: var(--matisse);
}

/*----Search box----*/

.form-control {
	border: none;
}

.form-control::placeholder.active,
.form-control::placeholder:focus {
	color: var(--night-rider);
	opacity: 1;
	border-color: var(--matisse);
}

.template-reference-topic .page-header {
  margin-bottom: 2rem !important;
}

